.message-bubble-left {
  position: relative;
  padding: 0px;
  background: whitesmoke;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.message-bubble-left:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 10px 8px 0;
  border-color: transparent whitesmoke;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 15px;
}

.message-bubble-right {
  position: relative;
  padding: 0px;
  background: #feeadb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.message-bubble-right:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 0 8px 10px;
  border-color: transparent #feeadb;
  display: block;
  width: 0;
  z-index: 1;
  right: -10px;
  top: 15px;
}
