/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* page wrapper setup */
html, body {
  font-family: Roboto, "Open Sans", Arial, "Hiragino Sans GB", 微软雅黑, 华文细黑, STHeiti, "Microsoft YaHei";
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#app {
  height: 100%;
}

.page-content {
  max-width: 1024px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
@media only screen and (min-width: 600px) {
  .page-content {
    margin-top: 64px;
    padding: 20px;
  }
}
@media only screen and (min-width: 960px) {
}

/* multi-line triple elipsis for text cutoff */
@import 'block-with-text.css';
